* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #775741;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.container-page-one{
  background-image: url(images/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;

}

.container-main{
  background-color: #08080869;
  padding-bottom: 260px;
}


header{
  padding: 110px 0;
 text-align: center;
}

header img{
  width: 35%;
}

nav{
  width: 60%;
  margin: 0 auto;
}


nav ul{
  display: flex;
  justify-content:space-around;
  font-size: 2.5em;
  list-style: none;
  color: white;
}


li::after{
  content: "";
  height: 4px;
  width: 0;
  background-color: #eeeae9;
  display: block;
  transition: all 350ms;
}

li:hover::after{
  width: 100%;
}

#modal{
  margin: auto auto;
  max-width: 50%;
  height: 45%;
  padding: 1.5em;
  background:#80524fde;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

.modal::backdrop{
    background-color: rgba(6, 6, 6, 0.66);
}


.close-modal{
  text-align: end;
  padding-right: 30px;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

.modal-title{
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.8em;
  padding-bottom: 10px;

}

/* Page movies */
.container-page{
  background-image: url(./images/fondoM.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.pageMovie::backdrop{
  display: block;
  background-color: #0808084e;
  padding-bottom: 150px;
}

.movie-header{
  width: 65%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.movie-header img{
  width: 30%;
}

.movie-header h2{
  color: white;
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 500;
}

.container-select{
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.container-select select{
  padding: .8em ;
  border-radius: 10px;
  font-size: 1.2em;
  outline:0;
  border:0;
  background: #f3f4f4;
  color:#080808;
  cursor:pointer;
}

/* CARDS */
.cards,
.characters{
  margin: 2.5em 2.5em;
  min-width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card,
.card_char{
  text-align: center;
  background: rgba(231, 226, 219, 0.49);
  border-radius: 40px;
  width: 280px;
  margin: 1.2em;
}

.card_char{
  text-align: center;
  background: rgba(231, 226, 219, 0.679);
}

.card img,
.img-character{
  border-radius: 40px;
  width: 92%;
  height: 340px;
  margin-top: 10px
}
.img-character{
  width: 90%;
  height: 290px;
}

.characters .info-card{
  font-weight: 500;
  text-align: justify;
  padding: 0 40px 20px;
}
.info-card{
  padding: 10px 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(66, 45, 45);
}
.info-title{
  letter-spacing: 1.5px;
  line-height: 35px;
}
.year{
  letter-spacing: 3px;
}

/* modal-movie */
.modal-movie{
  margin: auto auto;
  border-radius: 40px;
  border: none;
  width: 850px;
  height: 360px;
  background:rgb(253, 253, 253);
  position: absolute;
  top: 180px;
  left: 50px;
  display: none;
}

.main-modal{
  display: flex;
  width: 850px;
  height: 360px;
}

.modal-movie img{
  width: 100%;
  height: 100%;
  border-radius: 40px 0 0 40px;
}

.modal-movie .close-movie
{
  text-align: right;
  padding: 20px 0 0;
  cursor: pointer;
}

.modal-movie .desciption{
  padding: 0 30px;
  line-height: 30px;
  font-size: 1em;
}

.modal-movie .sinopsis{
  line-height: 20px;
  padding: 10px 0;
  font-size: 1em;
}
.modal-movie::backdrop{
 background: #080808a3;
}

/* Page Characters */
.container-page-three{
  background-image: url(./images/chihiro043.jpg);
  background-size: no-repeat;
  padding-top:-30px;
  margin-top: 0;
}



