* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #775741;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.container-page-one{
  background-image: url(images/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;

}

.container-main{
  background-color: #08080869;
  padding-bottom: 18%;
}


header{
  padding: 110px 0;
 text-align: center;
}

header img{
  width: 35%;
}

nav{
  width: 60%;
  margin: 0 auto;
}


nav ul{
  display: flex;
  justify-content:space-around;
  font-size: 2.5em;
  list-style: none;
  color: white;
}


li::after{
  content: "";
  height: 4px;
  width: 0;
  background-color: #eeeae9;
  display: block;
  transition: all 350ms;
}

li:hover::after{
  width: 100%;
}

#modal{
  margin: auto auto;
  max-width: 60%;
  height: 65%;
  padding: 1.5em 2.5em;
  background:#80524fab;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

.modal::backdrop{
    background-color: rgba(6, 6, 6, 0.692);
}


.close-modal{
  text-align: end;
  padding: 20px 30px 0;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}

.modal-title{
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.8em;
  padding-bottom: 30px;
}

/* Page movies */
.container-page{
  background-image: url(./images/kazetachinu044\ \(1\).jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #0474BA
  ;
}

.pageMovie::backdrop{
  display: block;
  background-color: #0808084e;
  padding-bottom: 150px;
}

.movie-header{
  width: 65%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.movie-header img{
  width: 30%;
}

.movie-header h2{
  color: white;
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 500;
}

.container-select{
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
}

.container-select select{
  padding: .8em ;
  border-radius: 10px;
  font-size: 1.2em;
  outline:0;
  border:0;
  background: #f3f4f4;
  color:#080808;
  cursor:pointer;
  text-align: center;
}

/* CARDS */
.cards,
.characters{
  margin: 2.5em 2.5em;
  min-width: 240px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card,
.card_char{
  text-align: center;
  background: rgba(231, 226, 219, 0.49);
  border-radius: 40px;
  width: 280px;
  margin: 1.2em;
}

.card_char{
  text-align: center;
  background: rgba(231, 226, 219, 0.679);
}

.card img,
.img-character{
  border-radius: 40px;
  width: 92%;
  height: 340px;
  margin-top: 10px;
}
.img-character{
  width: 90%;
  height: 290px;
}

.characters .info-card{
  font-weight: 500;
  text-align: justify;
  padding: 0 40px 20px;
}
.info-card{
  padding: 10px 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(66, 45, 45);
}
.info-title{
  letter-spacing: 1.5px;
  line-height: 35px;
}
.year{
  letter-spacing: 3px;
}

/* modal-movie */
.modal-movie{
  margin: auto auto;
  border-radius: 40px;
  border: none;
  width: 850px;
  height: 360px;
  background:rgb(253, 253, 253);
  position: absolute;
  top: 180px;
  left: 50px;
  display: none;
}

.main-modal{
  display: flex;
  width: 850px;
  height: 360px;
}

.modal-movie img{
  width: 100%;
  height: 100%;
  border-radius: 40px 0 0 40px;
}

.modal-movie .close-movie
{
  text-align: right;
  padding: 20px 0 0;
  cursor: pointer;
}

.modal-movie .desciption{
  padding: 0 30px;
  line-height: 30px;
  font-size: 1em;
}

.modal-movie .sinopsis{
  line-height: 20px;
  padding: 10px 0;
  font-size: 1em;
}
.modal-movie::backdrop{
 background: #080808a3;
}

/* Page Characters */
.container-page-three{
  background-image: url(./images/chihiro043.jpg);
  background-size: no-repeat;
  padding-top:-30px;
  margin-top: 0;
}

/* MEDIA QUERYES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) and (max-height: 950px) {
  body{
    background-color: yellow;
  }


header img{
  width: 40%;
}

.container-main{
  padding-bottom: 61%;
}

  header{
    padding: 170px 0 60px;
  }

  nav ul{
    text-align: center;
    flex-direction: column;
    font-size: 1.5rem;
    list-style: none;
    color: white;
    line-height: 35px;
  }

  li{
   background-color: #eeeae942;
  border-radius: 10px;
  margin: 10px;
  }

  /* modal */
  #modal{
    max-width: 85%;
    height: 80%;
    padding: 1.5em;
    background:#80524f75;
    border-radius: 40px;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.5em;
  }

  .close-modal{
    padding: 15px 25px;
    font-size: 1.3em;
  }

  .modal-title{
    letter-spacing: 3px;
    font-size: 1.5em;
    padding-bottom: 30px;

  }

  /* Page Movies */

  .movie-header{
    width: 100%;
    flex-direction: column;

  }
  .movie-header img{
    width: 40%;
    padding-bottom: 25px;
  }

  .movie-header h2{
    font-size: 25px;
  }

  .container-select{
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .container-select select{
    padding: .5em ;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
  }

  /* CARDS */
.cards,
.characters{
  justify-content: center;
}

.card,
.card_char{
  max-width: 260px;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 701px) and (max-width: 990px) {
  body{
    background-color: rgb(255, 0, 179);
  }

  .container-main{
    padding-bottom: 35%;
  }

  header{
    padding: 140px 0 60px;
  }

  header img{
    width: 40%;
  }
  /* 1024
   */
  nav ul{
    text-align: center;
    flex-direction: column;
    font-size: 1.7em;
    list-style: none;
    color: white;
    line-height: 35px;
  }

  li{
   background-color: #eeeae942;
  border-radius: 10px;
  margin: 10px;
  }

  /* modal */
  #modal{
    max-width: 70%;
    height: 90%;
    padding: 1.5em;
    background:#80524f75;
    border-radius: 40px;
    color: white;
    font-size: 1.2em;

  }

  .close-modal{
    padding: 15px 25px;
    font-size: 1.3em;
  }

  .modal-title{
    letter-spacing: 3px;
    font-size: 1.5em;
    padding-bottom: 30px;

  }

   /* Page Movies */

  .movie-header{
    width: 100%;
    flex-direction: column;

  }
  .movie-header img{
    width: 40%;
    padding-bottom: 25px;
  }

  .movie-header h2{
    font-size: 25px;
  }

  .container-select{
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .container-select select{
    padding: .5em ;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
  }

   /* CARDS */
.cards,
.characters{
  justify-content: center;
}

.card,
.card_char{
  max-width: 260px;
}

}



/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 801px) {
  body{
    background-color: rgb(34, 0, 255);
  }

  header{
    padding: 280px 0 60px;
  }

  header img{
    width: 50%;
  }

  nav ul{
    text-align: center;
    font-size: 2.5em;
    list-style: none;
    color: white;
    line-height: 35px;
  }

  li{
  margin: 50px;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1400px) {
  body{
  background-color: rgb(255, 0, 0);
  }

  header{
    padding: 280px 0 70px;
  }

  header img{
    width: 38%;
  }

  nav ul{
    text-align: center;
    font-size: 3.2em;
    list-style: none;
    color: white;
    line-height: 35px;
  }

  li{
  margin: 50px;
  }
} */

